@import "themeList.css";

* {
	box-sizing: border-box;
}

html,
body {
	font-family: 'Courier New', monospace;
	height: 100vh;
	margin: 0;
}



a {
	text-decoration: none;
}

svg {
	height: auto;
	width: 1.2em;
}

ul {
	list-style-type: none;
}

.container {
	box-shadow: inset 0 0 16px rgba(0, 0, 0, 1);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: .5fr 1fr;
	height: 100%;
}

/* handle "terminal" like effect */
@keyframes blinkCursor {
	0%	{content: "";}
	100%	{content: "_";}
}


.highlighted {
	font-weight: bolder;
}

.highlighted::before {
	content: "> ";
}

.highlighted::after {
	content: "_";
	animation-name: blinkCursor;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.logo {
	margin-left: 5%;
	font-weight: 900;
}

.key {
	font-weight: 800;
}
